{{page-title "All Songs"}}

<EuiText @grow={{false}}>
    <h2>All Songs ({{@model.songs.length}})</h2>
</EuiText>

{{#in-element (get-header-links)}}
    {{#if (can-user-edit)}}
        <EuiHeaderLink
            @iconType="createAdvancedJob"
            {{on "click" (go-to "songs.edit" "new")}}
        >
            Add
        </EuiHeaderLink>

        {{#if this.showPracticeLink}}
            <EuiHeaderLink
                @iconType="flag"
                {{on "click" (go-to "songs.practice")}}
            >
                Practice
            </EuiHeaderLink>
        {{/if}}
    {{/if}}
{{/in-element}}

<EuiSpacer @size="l" />

<EuiFlexGrid @columns={{3}} @responsive={{true}}>
    {{#each @model.songs as |song|}}
        <EuiFlexItem>
            <Song
                @user={{@model.user}}
                @song={{song}}
                @songEditing={{this.cacheScrollPosition}}
                {{did-insert this.scrollToSong}}
            />
        </EuiFlexItem>
    {{/each}}
</EuiFlexGrid>