{{page-title "All Songs"}}

<EuiText @grow={{false}}>
    <h2>All Songs ({{@model.length}})</h2>
</EuiText>

{{#in-element (get-header-links)}}
    {{#if (can-user-edit)}}
        <EuiHeaderLink
            @iconType="createAdvancedJob"
            {{on "click" (go-to "songs.edit" "new")}}
        >
            Add
        </EuiHeaderLink>
    {{/if}}
{{/in-element}}

<EuiSpacer @size="l" />

<EuiFlexGrid @columns={{3}} @responsive={{true}}>
    {{#each @model as |song|}}
        <EuiFlexItem>
            <Song
                @song={{song}}
                @songEditing={{this.cacheScrollPosition}}
                {{did-insert this.scrollToSong}}
            />
        </EuiFlexItem>
    {{/each}}
</EuiFlexGrid>