{{page-title "Songs to Practice"}}

<EuiText @grow={{false}}>
    <h2>Practice ({{@model.songs.length}})</h2>
</EuiText>

<EuiSpacer @size="l" />

<EuiFlexGrid @columns={{3}} @responsive={{true}}>
    {{#each @model.songs as |song|}}
        <EuiFlexItem>
            <Song
                @user={{@model.user}}
                @song={{song}}
                @songEditing={{this.cacheScrollPosition}}
                {{did-insert this.scrollToSong}}
            />
        </EuiFlexItem>
    {{/each}}
</EuiFlexGrid>