<EuiHeader @position="fixed">
    <EuiHeaderSectionItem @border="right">
        <EuiHeaderLogo>Band Songs</EuiHeaderLogo>
    </EuiHeaderSectionItem>

    <EuiHeaderSectionItem @border="none">
        <EuiHeaderLinks>
            <EuiHeaderSectionItem @border="right">
                <div id="header-links" />
            </EuiHeaderSectionItem>

            <EuiHeaderLink
                @href="/"
                @isSelected={{eq "/" this.router.currentRouteName}}
                @iconType="graphApp"
            >
                Gigs
            </EuiHeaderLink>

            <EuiHeaderLink
                @href="/songs"
                @isSelected={{eq "/songs" this.router.currentRouteName}}
                @iconType="discoverApp"
            >
                Songs
            </EuiHeaderLink>

            {{!-- {{#if this.firestore.user}}
                <EuiHeaderLink
                    @iconType="exit"
                    {{on "click" this.firestore.logout}}
                >
                    Logout
                </EuiHeaderLink>
            {{else}}
                <EuiHeaderLink
                    @iconType="push"
                    {{on "click" this.firestore.login}}
                >
                    Login
                </EuiHeaderLink>
            {{/if}} --}}
        </EuiHeaderLinks>
    </EuiHeaderSectionItem>
</EuiHeader>

<main>
    {{outlet}}
</main>

{{page-title "Band Songs"}}

{{! @glint-expect-error - `toasts` seems to be required }}
<EuiGlobalToastList @toastLifeTimeMs={{4500}} />