<EuiHeader @position="fixed">
    <EuiHeaderSectionItem @border="right">
        {{#if (can-user-edit)}}
            <EuiPopover
                @isOpen={{this.bandSelectorOpen}}
                @closePopover={{fn (mut this.bandSelectorOpen) false}}
            >
                <:button>
                    <EuiHeaderLogo
                        {{on "click" (fn (mut this.bandSelectorOpen) true)}}
                    >
                        {{get-model-data-value @model.band "description"}}
                    </EuiHeaderLogo>
                </:button>
                <:content>
                    <EuiFlexGroup @direction="column" @gutterSize="xs">
                        {{#each @model.bands as |band|}}
                            <EuiFlexItem @grow={{false}}>
                                <EuiHeaderLink
                                    @isActive={{eq band @model.band}}
                                    {{on "click" (fn this.changeBand band)}}
                                >
                                    {{get-model-data-value band "description"}}
                                </EuiHeaderLink>
                            </EuiFlexItem>
                        {{/each}}
                    </EuiFlexGroup>
                </:content>
            </EuiPopover>
        {{else}}
            <EuiHeaderLogo {{on "click" this.authenticate}}>
                {{get-model-data-value @model.band "description"}}
            </EuiHeaderLogo>
        {{/if}}
    </EuiHeaderSectionItem>

    <EuiHeaderSectionItem @border="none">
        <EuiHeaderLinks>
            <EuiHeaderSectionItem @border="right">
                <div id="header-links" />
            </EuiHeaderSectionItem>

            <EuiHeaderLink
                @isActive={{eq "index" this.router.currentRouteName}}
                @iconType="graphApp"
                {{on "click" (go-to "index")}}
            >
                Gigs
            </EuiHeaderLink>

            <EuiHeaderLink
                @isActive={{eq "songs.index" this.router.currentRouteName}}
                @iconType="discoverApp"
                {{on "click" (go-to "songs")}}
            >
                Songs
            </EuiHeaderLink>
        </EuiHeaderLinks>
    </EuiHeaderSectionItem>
</EuiHeader>

<main>
    {{outlet}}
</main>

{{page-title "Band Songs"}}

{{! @glint-expect-error - `toasts` seems to be required }}
<EuiGlobalToastList @toastLifeTimeMs={{4500}} />